.card {
  max-width: 850px;
  max-height: 38%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adicionado para centralizar verticalmente o card */
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: #ff49a4;
  padding: 1%;
  margin-bottom: 2%;
  box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  opacity: 0.8;
  color: #000;
  font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  background-color: #add8e6;
  color: #000;
  box-shadow: 0.5vw 1vw 1vw -0.3vw rgba(0, 0, 0, 0.2);
}

.company-logo {
  margin-top: 0.5%;
  margin-right: 2%;
}

.company-logo img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 250px;
  max-height: 250px;
  border-radius: 30%;
  border: 3px solid black;
}

.portiButton {
  margin-top: 3vh;
  margin-left: 1%;
  font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  padding: 0.8% 1.5%;
  color: #000;
  font-weight: 500;
  /* Alterado para um valor válido */
  background-color: #0077ff;
  border: 2.5px solid black;
  border-radius: 4vw;
  box-shadow: 0.3vw 0.6vw 0.6vw -0.2vw rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  /* Alterado para uma transição mais suave */
  cursor: pointer;
  font-size: 1.5vw;
}

.portiButton:hover {
  background-color: #add8e6;
  color: #000;
  transform: scale(1.05);
  box-shadow: 0.5vw 1vw 1vw -0.3vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 280px) {
  .portiButton {
    font-size: 3vw;
    border-radius: 8vw;
    padding: 3% 5%;
  }
}

/* estilos para telas menores que 600px */
@media screen and (max-width: 600px) {
  .portiButton {
    font-size: 3vw;
    border-radius: 8vw;
    padding: 4% 6%;
  }
}

/* estilos para telas maiores que 1200px */
@media screen and (min-width: 1200px) {
  .portiButton {
    font-size: 1.5vw;
    border-radius: 4vw;
    padding: 0.8% 1.5%;
  }
}

/* Estilos padrão */
.alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  border: 2px solid black;
  box-shadow: 6px 12px 12px -2px rgba(0, 0, 0, 0.1);
  padding: 5% 8%;
  font-size: 150%;
  border-radius: 5px;
  animation: moveAlert 20s linear infinite;
}

/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
  .alert {
    font-size: 100%;
    padding: 10% 15%;
  }
}

/* Estilos para telas maiores */
@media only screen and (min-width: 1200px) {
  .alert {
    font-size: 200%;
    padding: 2% 4%;
  }
}

@keyframes moveAlert {
  0% {
    transform: translateX(-90%) translateY(55%);
  }

  25% {
    transform: translateX(-55%) translateY(70%);
  }

  50% {
    transform: translateX(40%) translateY(-75%);
  }

  75% {
    transform: translateX(60%) translateY(-80%);
  }

  100% {
    transform: translateX(-70%) translateY(55%);
  }
}

/* Estilos para telas menores que 600px */
@media (max-width: 600px) {
  .company-logo {
    margin-top: 0.2em;
    margin-right: 0;
    text-align: center;
  }

  .company-logo img {
    max-height: 80vh;
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
    display: block;
  }
}

.title-area {
  margin-bottom: 1rem;
  font-size: 0.6rem;
}

.content-area {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-left: 5%;
    flex-direction: column;
  }

  .company-logo {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .text-area {
    text-align: center;
  }

  .title-area {
    font-size: 1rem;
  }

  .content-area {
    font-size: 0.6rem;
  }

  .footer {
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .card {
    margin-left: 0%;
    flex-wrap: wrap;
  }

  .company-logo {
    flex: 1;
    min-width: 0;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .text-area {
    flex: 3;
  }

  .title-area {
    font-size: 1.2rem;
  }

  .content-area {
    font-size: 1rem;
  }

  .footer {
    flex: 1;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    max-width: 1400px;
    margin-left: 5%;
  }

  .company-logo {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .text-area {
    flex: 1;
  }

  .title-area {
    font-size: 1.5rem;
  }

  .content-area {
    font-size: 1.2rem;
  }

  .footer {
    flex: 1;
    justify-content: flex-end;
  }
}